<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes</title>
    <style>
        input{
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <input type="text" placeholder="Nome*" name="nome">
        <input type="text" placeholder="Sobrenome*" name="Sobrenome">
        <input type="text" name="email" placeholder="Email*">
        <button>Enviar o Formulario</button>
    </form>
</body>
</html>